.video-box {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
}

@media (min-width: 1560px) {
  .video-box {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1170px) and (max-width: 1559px) {
  .video-box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 780px) and (max-width: 1169px) {
  .video-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 779px) {
  .video-box {
    grid-template-columns: 1fr 1fr;
  }
}

.video-preview {
  max-width: 400px;
  min-width: 200px;
}

.thumbnail-box {
  position: relative;
}

.thumbnail-img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.video-preview-time {
  display: flex;
  background-color: black;
  color: white;
  padding: 1px;
  border-radius: 5px;
  font-family: "Roboto", "Segoe UI";
  font-size: 14px;
  position: absolute;
  bottom: 22px;
  right: 12px;
}

.preview-content {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 10px;
}

.channel-icon {
  width: 100%;
  border-radius: 50%;
}

.preview-info {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
}

.preview-title {
  font-size: large;
  font-weight: 500;
}

.preview-data {
  font-size: 14px;
}
